.newContainerElem {
  background: #ededed;
}
.headerDiv {
  display: flex;
  gap: 18px;
  height: 75px;
  align-items: center;
  color: white;
  border-bottom: 1px solid grey;
}
.paraText {
  font-size: 21px;
  margin: 0 40px;
  color: black;
}

.allBtn {
  padding: 5px 22px;
}
.seatImages {
  margin-left: 45px;
  margin-top: 21px;
  margin-bottom: 27px;
}
.ticketElem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.passengerSeatsContainers {
  background: #ededed;
  width: 1153px;
}
#mainDiv .col-xl-1 {
  border: 1px solid black;
  width: 80px;
  height: 47px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.row {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-top: 35px;
  margin-left: 128px;
  /* border: 1px solid black; */
}
.a {
  border: 1px solid black;
  padding: 6px;
}
.parentDiv {
  display: flex;
}
.Container {
  margin-left: 12px;
  margin-top: 15px;
}
.payBtn {
  padding: 5px;
  background-color: #d84e55;
  color: white;
  width: 82px;
  height: 30px;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-left: 17px;
  margin-top: 13px;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", sans-serif; */
}
/* .container {
  width: 100%;
  height: 100vh;
  background-color: #12161f;
  display: flex;
  justify-content: center;
  align-items: center;
} */
#msgBala {
  position: absolute;
  height: 100vh;
  z-index: 100;
  left: 763px;
  top: 333px;
}
.popUp {
  width: 400px;
  background-color: #12161f;
  border-radius: 5px;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  text-align: center;
  padding: 0 30px 30px;
  color: white;
  visibility: visible;
  transition: transform 0.4s, top 0.4s;
  font-family: "Poppins", sans-serif;
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popUp img {
  border-radius: 8%;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  margin-top: 23px;
}

.popUp h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popUp button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
